html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Jua", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 255, 242);
}
#main-section {
  border: solid 3px black;
  margin: 2% 7%;
}
#top-section {
  background-color: rgba(236, 220, 217, 1);
  border: solid 3px rgba(236, 220, 217, 1);
  margin-bottom: 2%;
}
#title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
  padding: 3%;
  background-color: rgba(254, 255, 233, 1);
}
#left-side-title-div,
#right-side-title-div {
  width: 5%;
}
img {
  width: 100%;
  height: auto;
}
#middle-side-title-div {
  width: 80%;
  height: auto;
  text-align: center;
}
#title {
  font-size: 3rem;
}

#bottom-section {
  margin: 0;
  padding: 0;
  background-color: rgba(236, 220, 217, 1);
  border: solid 3px rgba(236, 220, 217, 1);
}
#search-results-section {
  background-color: rgba(254, 255, 233, 1);
  margin: 2%;
  padding: 3%;
  border: solid 2px rgba(254, 255, 233, 1);
  display: flex;
  flex-wrap: wrap;
}
#form-div {
  width: 88%;
  height: auto;
  align-items: start;
  padding: 5px;
  background-color: rgba(217, 217, 217, 1);
}
#myInput {
  background-color: white;
  text-decoration: none;
  width: 98%;
  border: none;
  padding: 10px;
  font-size: 1.8rem;
  font-family: "Jua", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#button-div {
  width: 10%;
  height: auto;
  padding: 5px;
  text-align: center;
  background-color: rgba(217, 217, 217, 1);
}
#input-button {
  width: 100%;
  height: auto;
  padding: 10px;
  align-items: center;
  background-color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
#input-button:hover {
  background-color: rgb(248, 248, 248);
}
#results-container {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgba(254, 255, 233, 1);
  font-size: 1.5rem;
  transition: 0.1s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:hover {
  background: #e4e4e4;
}
ul li.checked {
  background: #888;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 15px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: rgba(236, 220, 217, 1);
}
